<%- include('public/header.ejs') %>
<div class="quizPage">
    <div class="first">
        <div class="questionNumber"></div>
        <div class="countDown">
            <div class="hour"></div>
            <div class="minute"></div>
            <div class="second"></div>
        </div>
    </div>

    <div class="second">
        <p>what is the question</p>
    </div>

    <h5>Please choose one of the following answers:</h5>
    <hr>
    
    <div class="third">
        <p>A.</p>
        <p>B.</p>
        <p>C.</p>
        <p>D.</p>
    </div>

    <hr>

    <div class="next"></div>

</div>